# Use our custom-configured c++ toolchain.

build:esp32 --crosstool_top=//toolchain:esp32

# Use --cpu as a differentiator.

build:esp32 --cpu=xtensa

# Use the default Bazel C++ toolchain to build the tools used during the
# build.

build:esp32 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

